{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <title>Login - Gameizi</title>
</head>
<body>
    <div class="center-container">
        <div class="container">
            <div class="forms-container">
                <form class="sign-in-form" method="post">{% csrf_token %}
                    <h2 class="title">Login</h2>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-lock"></i>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
                    </div>
    
                    {% if erro %}
                    <div class="alert alert-danger mb-0 py-1 mt-2" role="alert">
                        {{ erro }}
                    </div>
                    {% endif %}
    
                    <div class="forgot">
                        <a href="#">Esqueceu a senha?</a>
                    </div>
    
                    <input type="submit" value="Login" class="button solid">
    
                    <div class="sigup-text">
                        <span>Não tenho uma conta? </span>
                        <a href="{% url 'core:cadastrar_aluno' %}{% if next %}?next={{ next }} {% endif %}">Crie uma conta agora</a>
                    </div>
                </form> 
            </div>
    
            <div class="login-img">
                <img src="{% static 'img/log.svg' %}" class="image" alt="">
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>
</body>
</html>