<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {{ dashboard_active }}" aria-current="page" href="{% url 'core:index' %}">
                    <i data-feather="home"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ turmas_active }}" href="{% url 'core:turmas' %}">
                    <i data-feather="users"></i>
                    Turmas
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link {{ alunos_active }}" href="{% url 'core:alunos' %}">
                    <i data-feather="users"></i>
                    Alunos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ pontuacoes_active }}" href="{% url 'core:pontuacoes' %}">
                    <i data-feather="bar-chart-2"></i>
                    Pontuações
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link {{ sugestao_active }}" href="{% url 'core:sugestao' %}">
                    <i data-feather="bar-chart-2"></i>
                    Sugestão de Gamificação
                </a>
            </li>
        </ul>
    </div>
</nav>