{% extends 'core/base.html' %}

{% block pagina %}
Sugestão de Gamificação
{% endblock pagina %}
    

{% block conteudo %}
<div class="row">
    {% for turma in turmas %}
    <div class="col-md-4">
        <div class="card p-0 m-0">
            <div class="card-header">
                {{ turma.nome }}
            </div>
            <div class="card-body pb-0">
                <div class="row">
                    <div 
                        data-bs-toggle="modal" 
                        data-bs-target="#modal-sugestao-gameficacao" 
                        turma-id="{{ turma.id }}"
                        class="col-md-12 m-0 p-0 card-modal-sugestao" 
                        id="grafico-{{ turma.id }}" 
                        style="vertical-align: middle; cursor: pointer;"
                    >
                    
                </div>
                <span class="notice" id="notice-{{ turma.id }}" style="text-align:center;font-size:12px;">Clique no gráfico para sugestão de gameficação</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    
<div class="modal fade" id="modal-sugestao-gameficacao" tabindex="-1" data-bs-backdrop="false"  aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Sugestão de Gameficação</h5>
			</div>
			<div class="modal-body">
                <h5 id="conteudo-tipo"></h5>
				<div id="conteudo-sugestao"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>
{% endblock conteudo %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.35.0/dist/apexcharts.min.js"></script>

<script>
    const cards = document.querySelectorAll(".card-modal-sugestao")
    cards.forEach(card => {
        card.addEventListener("click", function() {
            document.getElementById('conteudo-sugestao').innerHTML = ''
            document.getElementById('conteudo-tipo').innerHTML = ''
            var turmaId = card.getAttribute("turma-id");
    
            fetch('/obter_sugestao_turma/'+turmaId, {
                method: "GET",
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                document.getElementById('conteudo-tipo').innerHTML = data.tipo
                document.getElementById('conteudo-sugestao').innerHTML = data.descricao.replaceAll("{'", "").replaceAll("'}", "").replaceAll("\\n", "<br>");
            });
        });
    })

    fetch('/sugestao/graficos/', {
        method: "GET",
    }).then(function (response) {
        return response.json();
    }).then(function (data) {
        data.map(grafico => {
            var options = {
                  series: grafico.dados.map(dado => dado.porcentagem),
                  chart: {
                  width: "100%",
                  type: 'pie',
                },
                labels: grafico.dados.map(dado => dado.categoria),
        
                };
                
                if (grafico.dados.length){
                    var chart = new ApexCharts(document.querySelector(`#${grafico.grafico_id}`), options);
                    chart.render();
                } else {
                    let notice = document.getElementById("notice-"+grafico.turma_id);
                    notice.innerText = "Não há dados para sugestão de gameficação";
                    notice.classList.add("my-4")
                }
        })
    });
</script>
{% endblock scripts %}
    
    